@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1200px;
  margin: auto;
}

.nav li {
  margin: 10px;
  font-weight: 600;
  font-size: larger;
}

.restaurant {
  margin-top: 30px;
}
